# Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW_IMAGE_NAME=extending_airflow:latest
AIRFLOW_PROJ_DIR=./airflow

# Database Configuration
PG_USER=airflow
PG_PASSWORD=airflow
PG_DATABASE=airflow
PG_PORT=5432

# MinIO Configuration
MINIO_HOST=localhost
MINIO_ACCESS_KEY=minio
MINIO_SECRET_ACCESS_KEY=minio123
MINIO_PORT=9000
MINIO_PORT_UI=9001

# MLflow Configuration
MLFLOW_PORT=5000
MLFLOW_BUCKET_NAME=mlflow

# Data Repository Configuration
DATA_REPO_BUCKET_NAME=data

# FastAPI Configuration
FASTAPI_PORT=8800

# Airflow Web UI Configuration
AIRFLOW_PORT=8080
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# AWS S3 Configuration (for MinIO)
AWS_ACCESS_KEY_ID${MINIO_ACCESS_KEY}
AWS_SECRET_ACCESS_KEY=${MINIO_SECRET_ACCESS_KEY}
AWS_ENDPOINT_URL_S3=${MINIO_HOST}:${MINIO_PORT}
MLFLOW_S3_ENDPOINT_URL=${MINIO_HOST}:${MINIO_PORT}
